<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicePolyTweet" />
                <binding name="CanalManagerBeanServiceSoapBinding" />
                <binding name="UtilisateurManagerBeanServiceSoapBinding" />
                <binding name="MessageManagerBeanServiceSoapBinding" />
                <binding name="CanalFinderBeanServiceSoapBinding" />
                <binding name="UtilisateurFinderBeanServiceSoapBinding" />
                <binding name="CanalFinderBeanServiceSoapBinding1" />
                <binding name="UtilisateurFinderBeanServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1400/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServicePolyTweet"
                contract="Service1.IServicePolyTweet" name="BasicHttpBinding_IServicePolyTweet" />
            <endpoint address="http://localhost:8080//webservices/CanalManagerBean"
                binding="basicHttpBinding" bindingConfiguration="CanalManagerBeanServiceSoapBinding"
                contract="CanalManagerBeanService.CanalManager" name="CanalManagerBeanPort" />
            <endpoint address="http://localhost:8080//webservices/UtilisateurManagerBean"
                binding="basicHttpBinding" bindingConfiguration="UtilisateurManagerBeanServiceSoapBinding"
                contract="UtilisateurManagerBeanService.UtilisateurManager"
                name="UtilisateurManagerBeanPort" />
            <endpoint address="http://localhost:8080//webservices/MessageManagerBean"
                binding="basicHttpBinding" bindingConfiguration="MessageManagerBeanServiceSoapBinding"
                contract="MessageManagerBeanService.MessageManager" name="MessageManagerBeanPort" />
            <endpoint address="http://localhost:8080//webservices/CanalFinderBean"
                binding="basicHttpBinding" bindingConfiguration="CanalFinderBeanServiceSoapBinding"
                contract="CanalFinderService.CanalFinder" name="CanalFinderBeanPort" />
            <endpoint address="http://localhost:8080//webservices/UtilisateurFinderBean"
                binding="basicHttpBinding" bindingConfiguration="UtilisateurFinderBeanServiceSoapBinding"
                contract="UtilisateurFinderService.UtilisateurFinder" name="UtilisateurFinderBeanPort" />
            <endpoint address="http://localhost:8080//webservices/CanalFinderBean"
                binding="basicHttpBinding" bindingConfiguration="CanalFinderBeanServiceSoapBinding1"
                contract="CanalFinderService.CanalFinder" name="CanalFinderBeanPort1" />
            <endpoint address="http://localhost:8080//webservices/UtilisateurFinderBean"
                binding="basicHttpBinding" bindingConfiguration="UtilisateurFinderBeanServiceSoapBinding1"
                contract="UtilisateurFinderService.UtilisateurFinder" name="UtilisateurFinderBeanPort1" />
        </client>
    </system.serviceModel>
</configuration>